<style>

.listScroll {
    max-height: 550px;
    overflow-y: auto;
}

.column1 {
    float: left;
    width: 65%;
}

.column2 {
    float: left;
    width: 35%;
}


/*.card-body:before{*/


/*content: ' ';*/


/*display: block;*/


/*position: absolute;*/


/*left: 0;*/


/*top: 0;*/


/*width: 100%;*/


/*height: 100%;*/


/*z-index: 1;*/


/*opacity: 0.3;*/


/*!*background: url('http://placekitten.com/1500/1000') no-repeat 50% 0;*!*/


/*-ms-background-size: cover;*/


/*-o-background-size: cover;*/


/*-moz-background-size: cover;*/


/*-webkit-background-size: cover;*/


/*background-size: cover;*/


/*}*/


/*.card-body::after{*/


/*content: "";*/


/*position: absolute;*/


/*top: 0px;*/


/*left: 0px;*/


/*width: 100%;*/


/*height: 100%;*/


/*z-index:99;*/


/*background-image: url(https://i.stack.imgur.com/Hp53k.jpg);*/


/*background-size: cover;*/


/*opacity: 0.4;*/


/*}*/

.card-body h4 {
    z-index: 2;
    position: relative;
    color: #000;
}

.card-body h6 {
    z-index: 2;
    position: relative;
    color: #000;
}

.card-body p {
    z-index: 2;
    position: relative;
    color: #000;
}


.table-wrapper {
  max-height: 500px;
  /* overflow-y: scroll !important; */
  /* display:inline-block; */
}

.jumbotron .img {
  background-position: left;
  background-size: contain;
  background-repeat: repeat-x;
}


tbody {
    display:block;
    height:600px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}




</style>

<template>

<div style="background:url('https://i.imgur.com/MZ44kS4.png') no-repeat fixed; margin: 0; height: 100%; overflow: hidden; top: 0;">
    <div class="jumbotron" style="font-family: 'Contrail One'; background: url('https://i.imgur.com/MZ44kS4.png') no-repeat fixed; overflow: hidden;">
      <!-- <div class="img" v-bind:style="{ background: 'url('+imageUrl+') center top repeat', height: '100%', top: '0', margin: '0'}" style="background-size: cover; background-position: left;"> -->
        <h1 class="display-3" style="text-align: center; font-size: 100px; color: white; background-color: ">{{ $route.params.charId }}</h1>
        <!-- <hr class="my-4"> -->
        <p class="lead" style="text-align: center; color: white;">Tekken 7 Frame Data</p>
      <!-- </div> -->
        <div style="height: 700px; padding-left: 30px; padding-right: 30px;">
            <div  style="height: 100%;">
                <nav class="navbar navbar-light bg-light" style="width: 100%;">
                    <form class="form" style="width: 100%;">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 100%;" v-model="searchVal">
                        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                    </form>
                </nav>
                <div class="table-wrapper" >
                <table class="table table-striped table-dark">
                  <thead style="">
                    <tr>
                      <th scope="col">Command</th>
                      <th scope="col">Hit level</th>
                      <th scope="col">Damage</th>
                      <th scope="col">Start-Up Frames</th>
                      <th scope="col">Block Frames</th>
                      <th scope="col">Hit Frames</th>
                      <th scope="col">CH Frames</th>
                      <th scope="col">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="d in charDataSearch">
                      <td>{{d.COMMAND}}</td>
                      <td>{{d.HIT_LEVEL}}</td>
                      <td>{{d.DMG}}</td>
                      <td>{{d.STARTUP_FR}}</td>
                      <td :style="{ color: d.BFRAME_COL }">{{d.BLOCK_FR}}</td>
                      <td>{{d.HIT_FR}}</td>
                      <td>{{d.CH_FR}}</td>
                      <td>{{d.NOTES}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <!-- <div class="list-group list-group-flush listScroll" style="width: 100%; height: 100%;">
                    <a class="list-group-item list-group-item-action flex-column align-items-start" v-for="d in charDataSearch">
                        <div class="d-flex w-100 justify-content-between" v-on:click="setSelectedMove(d)" style="width: 100%; cursor: pointer;">
                            <h5 class="mb-1">{{ d.COMMAND }}</h5>
                            <small>Damage: {{ d.DMG }}</small>
                        </div>
                        <p class="mb-1" v-on:click="setSelectedMove(d)" style="width: 100%; height: 100%; cursor: pointer;">Start-Up Frames: {{ d.STARTUP_FR }} &nbsp;&nbsp;&nbsp;&nbsp; Block Frames: {{ d.BLOCK_FR }}</p>
                        <p class="mb-1">Damage: {{ d.DMG }}</p>
                        <p class="mb-1">Block Frames: {{ d.BLOCK_FR }}</p>-->
                        <!--<p class="mb-1">Hit Frames: {{ d.HIT_FR }}</p>-->
                        <!--<small>Donec id elit non mi porta.</small>
                    </a>
                </div> -->

            </div>
            <!-- <div class="column2 col-sm-6" style="height: 600px; color: black;">
                <div class="card" style="width: 100%; height: 100%; ">
                    <div class="card-body" id="characterInfo">
                        <div>
                            <h4 class="card-title" v-model="moveCommand">{{ moveCommand }}</h4>
                            <br>
                            <h6 class="card-subtitle mb-2">Hit Level: {{ hitLevel }}</h6>
                            <br>
                            <p class="card-text">Start-Up Frames: {{startup}}</p>
                            <p class="card-text">Block Frames: {{block}}</p>
                            <p class="card-text">Hit Frames: {{hit}}</p>
                            <p class="card-text">Counter-Hit Frames: {{chit}}</p>
                            <br>
                            <p class="card-text">Notes: {{notes}}</p>
                        </div>
                        <a href="#" class="card-link">Card link</a>-->
                        <!--<a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
    <button type="button" class="btn btn-light" v-on:click="viewHome()" style="cursor: pointer; font-family: 'Contrail One';">Back To Characters</button>
</div>

</template>

<script>

export default {
    data() {
            return {
                frameColour: 'green',
                characterList: [],
                charId: "",
                charData: [],
                charDataSearch: [],
                searchVal: "",
                selectedMove: {},
                moveCommand: "",
                hitLevel: "",
                damage: "",
                startup: "",
                block: "",
                hit: "",
                chit: "",
                notes: "",
                charImage: [],
                imageUrl: ""
            }
        },
        mounted: function() {

        },
        computed: {
          // computedFrameColour: function () {
          //   return this.frameColour;
          // }
        },
        methods: {
            getCharacters: function(){
              this.characterList = [];
              this.$http.get('http://api.umbrasheep.com/tekken/v1/image/?g=true&c='+ this.$route.params.charId).then(function(response){
                this.characterList = response.data;
                this.imageUrl = this.characterList[0].PICTURE_PATH;
                //console.log("Characters obtained");
              }, function(error){
                console.log(this.characterList);
                //console.log("Error getting characters");
              });
            },
            getCharacterData: function() {
                $('html,body').scrollTop(0);
                this.imageUrl = "";
                this.$http.get('http://api.umbrasheep.com/tekken/getframedata/?g=true&c=' + this.$route.params.charId).then(function(response) {
                    this.charData = response.data;
                    var arrayLength = this.charData.length;
                    for(var x = 0; x < arrayLength; x++){
                        if(this.charData[x].BLOCK_FR.indexOf("-")!==-1){
                          this.charData[x]["BFRAME_COL"] = "red";
                        } else {
                          this.charData[x]["BFRAME_COL"] = "green";
                        }
                    }
                    this.charId = this.$route.params.charId;
                    this.charId = this.charId.replace(" ", "%20");

                    this.charDataSearch = this.charData;
                    this.setSelectedMove(this.charDataSearch[0]);
                }, function(error) {
                    //console.log("Error getting data");
                });
            },
            updateSearchData: function() {
                this.searchVal = this.searchVal.toLocaleLowerCase();
                let temp_list = [];
                for (let info of this.charData) {
                    let search = ((info.COMMAND).toLowerCase()).indexOf(this.searchVal);
                    if (search !== -1) {
                        temp_list.push(info);
                    } else {
                        let search = ((info.NOTES).toLowerCase()).indexOf(this.searchVal);
                        if (search !== -1) {
                            temp_list.push(info);
                        }
                    }
                }
                this.charDataSearch = temp_list;
            },
            setSelectedMove: function(move) {
                this.selectedMove = "";
                this.selectedMove = move;
                this.moveCommand = this.selectedMove.COMMAND;
                this.hitLevel = this.selectedMove.HIT_LEVEL;
                this.damage = this.selectedMove.DMG;
                this.startup = this.selectedMove.STARTUP_FR;
                this.block = this.selectedMove.BLOCK_FR;
                this.hit = this.selectedMove.HIT_FR;
                this.chit = this.selectedMove.CH_FR;
                this.notes = this.selectedMove.NOTES;
                if (this.selectedMove.NOTES === "") {
                    this.notes = "None";
                }
                if (this.block.indexOf(-1)!==-1){
                  //console.log("Index found!");
                  this.frameColour = 'red';
                }
                // console.log(this.moveCommand);
            },
            viewHome: function() {
                this.$router.push('/');
            }
        },
        beforeMount() {
            this.getCharacters();
            this.getCharacterData();
            // this.setImage();
        },
        watch: {
            'charDataSearch': function() {
                //console.log("Changes made to search array");
            },
            'searchVal': function() {
                //console.log("Search value changed");
                this.updateSearchData();
            },
            'selectedMove': function() {
              //  console.log("Selected move changed");
            },
            'imageUrl': function() {
                //console.log("Image changed");
              //  console.log(this.imageUrl);
                this.$nextTick(function() {
                    // let style = document.styleSheets[2];
                    // style.insertRule(".card-body::after{\n" +
                    //   "    content: \"\";\n" +
                    //   "    position: absolute;\n" +
                    //   "    top: 0px;\n" +
                    //   "    left: 0px;\n" +
                    //   "    width: 100%;\n" +
                    //   "    height: 100%;\n" +
                    //   "    z-index:99;\n" +
                    //   "    background-image: url("+this.imageUrl+");\n" +
                    //   "    background-size: cover;\n" +
                    //   "    opacity: 0.4;\n" +
                    //   "    background-position: 50% 0;}", 1);
                    this.$forceUpdate();
                });

            }
        }
}

</script>
