<template>
  <div>
    <div class="jumbotron jumbotron-fluid" style="font-family: 'Contrail One'; background: url('https://i.imgur.com/MZ44kS4.png') no-repeat fixed; padding-bottom: 20px; margin-bottom: 0;">
      <h1 class="display-3" style="text-align: center; font-size: 100px; color: white;">Tekken Frame Data</h1>
      <p class="lead" style="text-align: center; color: white;">Tekken 7 Frame Data</p>
      <!-- <hr class="my-4"> -->
    </div>
    <div>
      <nav class="navbar navbar-dark bg-black " style="width: 100%; padding: 10px; background-color: #0c0c0c; border-color: black;">
          <form class="form-inline" style="width: 100%; object-position: center; padding-left: 50px; padding-right: 50px;">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 100%;" v-model="searchVal">
              <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          </form>
      </nav>
    </div>
      <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
      <!--<p class="lead">-->
        <!---->
        <!--&lt;!&ndash;<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>&ndash;&gt;-->
      <!--</p>-->

    <div class="row " style="padding-left: 50px; padding-right: 50px; padding-bottom: 100px; padding-top: 50px; background: black; width: 100%; height: 100%; margin: auto; background: url('https://i.imgur.com/LNeDamT.png');" align="center">
      <div class="col-xs-1" v-for="char in characterSearchList" style="padding:10px; margin: auto;">
        <div class="card" style="border: solid; width: 200px; height: 115px; padding: 0px;" :style="{opacity: char.SEARCH_OPAC }">
                            <!-- <span style="position: relative; cursor: pointer;"> -->
                                <img class="card-img-top" :src="char.PICTURE_PATH" alt="No Image" style=" object-position: center; object-fit: contain;" v-on:click="viewCharacter(char.NAME)">
                                <div class="overlay">

                                  <div class="text">{{ char.NAME }}</div>
                                </div>
                                <!-- <img style="height: 100px; border-style: outset; object-fit: contain; position: absolute; bottom: 14px; left: 14px; cursor: pointer;" :src="char.PICTURE_PATH" v-on:click="viewCharacter(char.NAME)"> -->
                            <!-- </span> -->
          <!-- <h5 class="card-header" style="height: 45px; overflow: auto; display: block; text-align: center; background-color: black; color: white;">{{ char.NAME }}</h5> -->
          <!--<div class="card-block" style="padding: 25px;">-->
            <!--<h5 class="card-title" style="height: 150px;">{{ char.NAME }}</h5>-->
            <!--<p class="card-text">{{ project.description }}</p>-->
            <!--<router-link class="btn btn-primary" :to="{ name: 'project', params: {projectId: project.id }}" style="bottom: 0px; width: 120px;">View Project</router-link>-->
          </div>
        </div>

      </div>
      <div style="position: absolute; bottom: 0; width: 100%; height: 50px; background: black; position: fixed;">
        <p style="position: absolute; bottom: 0px; left: 16px; padding-bottom:">Frame data taken from rbnorway.org</p>
      </div>

    </div>
</template>

<style>
  .row{
    text-align: left;
  }
  .card:hover{
    color: white;
  }
  .card:hover .overlay{
    opacity: 0.5;
  }
  .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00bbff;
  }
  .text {
    color: black;
    font-family: 'Contrail One';
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
</style>

<script>
  export default {
    data(){
      return{
        characterList: [],
        characterSearchList: [],
        searchVal: ""
      }
    },
    mounted: function(){
      this.getCharacters();
    },
    methods: {
      getCharacters: function(){
        this.characterList = [];
        this.$http.get('http://api.umbrasheep.com/tekken/v1/image/?g=true').then(function(response){
          this.characterList = response.data;
          var arrayLength = this.characterList.length;
          for(var x = 0; x < arrayLength; x++){
              this.characterList[x]["SEARCH_OPAC"] = 1.0;
          }
          this.characterSearchList = this.characterList;

        }, function(error){

        });
      },
      viewCharacter: function(id){
        //console.log("Called");
        this.$router.push('/char/'+id);
      },
      updateSearchData: function() {
          this.searchVal = this.searchVal.toLocaleLowerCase();
          let temp_list = [];
          for (let info of this.characterList) {
              let search = ((info.NAME).toLowerCase()).indexOf(this.searchVal);
              if (search !== -1) {
                info["SEARCH_OPAC"] = 1.0;
                temp_list.push(info);
                //console.log(info.NAME);
              } else {
                info["SEARCH_OPAC"] = 0.2;
                temp_list.push(info);
                  }
              }
              this.characterSearchList = temp_list;
          }
      },
      watch: {
        'charDataSearch': function() {
            //console.log("Changes made to search array");
        },
        'searchVal': function() {
            //console.log("Search value changed");
            this.updateSearchData();
        }
      }

  }
</script>
